.header {
   width: 85vw;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   position: relative;
   left: 2%;
   padding-top: 10px;
   font-family: 'Courier New', Courier, monospace;
}