.add-component {
   background-color: #858585;
   box-shadow: inset 0px 0px 10px 5px 	#ff9a00;
   width: 18vw;
   height: 40vh;
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   justify-content: space-evenly;
   text-decoration: underline;
}