.stats {
   background-color: #858585;
   box-shadow: inset 0px 0px 10px 5px 	#ff9a00;
   width: 15vw;
   height: 30vh;
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: center;
}