body {
  margin: 0;
  background-color: #5a5e64;
}

.app {
  box-shadow: 0px -4px 3px 0px #242424;
  height: 200vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 5px;
}

.side-bar {
  /* border: 1px solid white; */
  margin-top: 1.3vh;
  display: flex;
  flex-flow: column nowrap;
  height: 75vh;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 7%;
  right: 2%;
}

.button {
  background-color: #97accc;
}

.button:active {
  border: none;
  background-color: #398a86;
  color: white;
}