body {
  margin: 0;
  background-color: #5a5e64;
}

.app {
  box-shadow: 0px -4px 3px 0px #242424;
  /* border: 1px solid white; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  padding: 5px;
}

.button {
  background-color: #97accc;
}

.button:active {
  border: none;
  background-color: #398a86;
  color: white;
}